#slide
{
    color: #000;
    background: #CAD96C;
    padding:10px;
    position:fixed;
    top:111px;
    left:8px;
}

table.dane 
{ 
    border-collapse:collapse; 
}

table.dane td, table.dane th 
{ 
    border:1px solid black;
    padding:5px; 
}

#head-container
{
    color: #000;
    background: #CAD96C;
}

#header
{
    margin: 0 auto;
    width: 860px;
    padding: 20px;
    background: #CAD96C;
}

#header h1 { margin: 0; }

#navigation-container
{
    float: left;
    width: 100%;
    color: #000;
    background: #97A639;
}

#navigation
{
    margin: 0 auto;
    width: 900px;
}

#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li a
{
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}

#navigation li a:hover { background: #314000; }

#content-container
{
    float: left;
    width: 100%;
    color: #000;
    background: #eee;
}

#content-container2
{
    margin: 0 auto;
    width: 900px;
}

#content-container3
{
    float: left;
    width: 900px;
    background: #FFF url(two-fixed-background.gif) repeat-y 100% 0;
}

#content
{
    height: auto;
    min-height: 400px;
    clear: left;
    float: left;
    width: 850px;
    padding: 20px 0;
    margin: 0 0 0 30px;
    display: inline;
}

#content h2 { margin: 0; }

#aside
{
    float: right;
    width: 240px;
    padding: 20px 0;
    margin: 0 20px 0 0;
    display: inline;
}

#aside h3 { margin: 0; }

#footer-container
{
    clear: left;
    color: #fff;
    background: #97A639;
}

#footer
{
    margin: 0 auto;
    width: 900px;
    text-align: right;
    padding: 20px;
    height: 1%;
}